:root{
  --main-font-family:"Open Sans";
  --title-font-family: "Oswald";
  --main-text-color-dark: #212121;
  --main-text-color-light: #ffffff;
  --main-bg-color: #00000080;
  --dark-bg-color: #19545e;
  --color-title: rgb(0,0,0);
  --accent-text-color:#bf9000;
  --accent-bg-color: #f41616;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  margin: 0;

  font-family: var(--main-font-family), sans-serif;
  font-weight: 400;
  color: var(--main-text-color-dark)

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
button{
  margin: 0;
  padding: 0;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.calculator{
  background-color: var(--dark-bg-color);
}

.calculatorForm{
  max-width: 1200px;
  min-width: 480px;
  margin-right: auto;
  margin-left: auto;
  border: 1px dashed darkslategray;
  border-radius: 4px;
  padding: 10px;
  font-family:  sans-serif;
  font-size: 14px;
  line-height: 1.5;
 
  color: var(--main-text-color-light);
}

.calculatorForm__item{
  list-style: none;
}

.calculatorForm__item:not(:last-child){
  margin-bottom: 15px;
}

.calculatorForm__title{
  margin-bottom: 15px;
  text-align: center;
}

.getFinishCard{
  font-size: 18px;
}

.ownAdress{
  display: block;
}

.textareaOwnAdress{
  display: block;
  width: 100%;

  font-size: 18px;
  resize: none;
}

.form__btn-sabmit{
  margin-top: 20px;
  display: block;
  padding: 10px;
  cursor: pointer;
}

.calculatorForm__price{
  padding: 5px;
  font-size: 25px;
}


/* STYLE G */

.checkbox.style-g {
  display: inline-block;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-g input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-g input:checked ~ .checkbox__checkmark {
  background-color: #fff;
}
.checkbox.style-g input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
  left: 8px;
}

.checkbox.style-g:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-g:hover input:checked ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-g .checkbox__checkmark {
  position: absolute;
  top: 1px;
  right: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox.style-g .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: -20px;
  top: -8px;
  width: 15px;
  height: 25px;
  border: solid var(--accent-text-color);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease, left 0.25s ease;
}
.checkbox.style-g .checkbox__body {
  color: var(--main-text-color-light);
  line-height: 1.6;
  font-size: 16px;
}

.chooseCode:not(:last-child){
  margin-right: 20px;
}

/* кнопки радио сделать круглыми */