.calculator {
  background-color: $dark-bg-color;
  padding: 1rem;

  @media screen and (max-width: 500px) {
    padding: 0;
  }
}

.calculator__form {
  max-width: 580px;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid $main-text-color-light;
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.5;

  color: $main-text-color-light;
}

.calculator__list,
.calulator__footer {
  padding: 1rem;
  @media screen and (max-width: 479px) {
    padding: 0.5rem;
    padding-bottom: 10px;
  }
}

.calulator__footer {
  padding-top: 0;
}

.calculator__item {
  list-style: none;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.calculator__item.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.calculator__item.is-hidden .checkbox {
  transform: scale(0.9);
}

.calculator__image {
  height: 10rem;
  background-color: cornflowerblue;
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.calculator__subtitle {
  margin-bottom: 15px;
  text-align: center;
}

.calculator__delivery {
  margin-bottom: 1.25%;
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;

  @media screen and (max-width: 479px) {
    font-size: 10px;
  }
}
