.form__footer {
  display: grid;
  justify-items: center;
  gap: 10px;

  @media screen and (max-width: 479px) {
    padding: 10px;
    justify-items: center;
    gap: 10px;
  }
}

.calulator__sums {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.calulator__btn-sabmit {
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  min-width: 150px;
  border-radius: 4px;
  padding: 3%;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

  &:hover,
  &:focus {
    background-color: $accent-bg-color;
    color: $main-text-color-light;
  }
}

.calculatorForm__price {
  outline: none;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  background-color: $accent-text-color;
  color: $main-text-color-light;

  // max-width: 120px;
  min-width: 70px;
}

.calulator__price-label {
  display: grid;
  text-transform: uppercase;
}
