// .form__footer {
//   display: grid;
//   justify-items: center;
//   gap: 10px;

//   @media screen and (max-width: 479px) {
//     padding: 10px;
//     justify-items: center;
//     gap: 10px;
//   }
// }

.footer__payment {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer_variable {
  display: flex;

  justify-content: space-between;
}

.calulator__btn,
.calulator__btn-sabmit {
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  min-width: 150px;
  border: 2px solid #ffffff80;
  border-radius: 4px;
  // border: none;
  padding: 3%;
  line-height: 1.7;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: $main-text-color-dark;
  background-color: $main-text-color-light;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

  &:hover,
  &:focus {
    background-color: $accent-bg-color;
    color: $main-text-color-light;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    background-color: $dark-bg-color;
    color: $main-text-color-dark;
  }
}

.calulator__btn {
  padding: 1%;
  align-items: center;
  text-align: center;
  width: 250px;
  // background-color: #ffffff80;
}

.calculatorForm__price {
  outline: none;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  background-color: $accent-text-color;
  color: $main-text-color-light;
  min-width: 70px;
}

.calulator__price-label {
  display: grid;
  text-transform: uppercase;
}
