.form__footer {
  display: grid;
  justify-items: center;
  gap: 10px;

  @media screen and (max-width: 479px) {
    padding: 10px;
    justify-items: center;
    gap: 10px;
  }
}

.form__amounts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.form__btn-sabmit {
  display: block;
  max-width: 300px;
  min-width: 150px;
  border-radius: 4px;
  padding: 1.25%;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.form__btn-sabmit:hover,
.form__btn-sabmit:focus {
  background-color: $accent-bg-color;
  color: $main-text-color-light;
}

.calculatorForm__price {
  outline: none;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  background-color: $accent-text-color;
  color: $main-text-color-light;

  // max-width: 120px;
  min-width: 70px;
}

.calculatorForm__priceLabel {
  display: grid;
  text-transform: uppercase;
}

.extra__opportunity {
  margin-bottom: 1.25%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #ffffff80;
  border-bottom: 2px solid #ffffff80;
}

.chooseCode {
  list-style: none;

  @media screen and (max-width: 479px) {
    display: block;
  }
}

.chooseCode:not(:last-child) {
  margin-right: 20px;
}
